<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n
		</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
	</Appenders>

	<Loggers>

		<Logger
			name="com.github.sp3wam.baseband.modem.core.pcm.PcmSignalGeneratorBlock"
			level="info" />
		<Logger
			name="com.github.sp3wam.baseband.modem.core.pcm.PcmFromFileSignalGeneratorBlock"
			level="info" />
		<Logger
			name="com.github.sp3wam.baseband.modem.core.pcm.PcmFromWavFileSignalGeneratorBlock"
			level="info" />
		<Logger
			name="com.github.sp3wam.baseband.modem.core.pcm.PcmFromMp3FileSignalGeneratorBlock"
			level="info" />
		<Logger
			name="com.github.sp3wam.baseband.modem.core.pcm.PcmFromJavaxAudioSignalGeneratorBlock"
			level="info" />
		<Logger
			name="com.github.sp3wam.baseband.modem.core.pcm.pcmFromXtAudioAudioSignalGeneratorBlock"
			level="info" />

		<Logger
			name="com.github.sp3wam.baseband.modem.core.basic.blocks.FloatingPointAvgMagnitudeCalculatorBlock"
			level="info" />

		<Logger
			name="com.github.sp3wam.baseband.modem.core.basic.blocks.SamplerBlock"
			level="off" />
		<Logger
			name="com.github.sp3wam.baseband.modem.core.fft.FFTBlock"
			level="off" />
		<Logger
			name="com.github.sp3wam.baseband.modem.impl.morse.MorseToneDetectorBlock"
			level="off" />
		<Logger
			name="com.github.sp3wam.baseband.modem.core.basic.blocks.ToneToBitConverterBlock"
			level="off" />
		<Logger
			name="com.github.sp3wam.baseband.modem.core.basic.blocks.BitAveragerBlock"
			level="off" />

		<Logger
			name="com.github.sp3wam.baseband.modem.impl.morse.BitStreamMorseDecoderBlock"
			level="off" />
		<Logger
			name="com.github.sp3wam.baseband.modem.impl.morse.DitDurationCalculator"
			level="off" />

		<Root level="debug">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
